<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.meetsidekick.app</string>
    <key>ServiceDescription</key>
    <string>Sidekick Linter bot</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/node</string>
        <string>/Users/sidekick/code/sidekick-lint-bot/node_modules/probot/bin/probot-run.js</string>
        <string>/Users/sidekick/code/sidekick-lint-bot/index.js</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/sidekick/code/sidekick-lint-bot/</string>
    <key>KeepAlive</key>
    <true/>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/sidekick/code/sidekick-lint-bot/logfile.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/sidekick/code/sidekick-lint-bot/logfile.err.log</string>
</dict>
</plist>
